@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
/*눈누 사이트 외부에서 글꼴 가져옴*/

h1, /*,여러가지 타입적용*/
em {
  font-family: "TTLaundryGothicB";
  color: blue;
}
h1 {
  border-bottom: 1px solid gray;
  color: red;
}
body {
  font-size: 2em;
  background-color: yellow;
}
/*글꼴 
serif : 문자 비침이 있는 글꼴
sans-serif : 문자 삐침이 없는 글꼴
monospace : 동일한 너비의 글꼴
cursive : 손으로 쓴 것 같은 글꼴
fantasy : 화려한 글꼴
눈누 사이트에서 글꼴 다운로드 받아 사용 가능*/
